@tailwind base;


@import url("https://use.typekit.net/ahl3vuv.css");

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/static/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style:italic;
  src: url("../fonts/static/OpenSans/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("../fonts/static/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style:italic;
  src: url("../fonts/static/OpenSans/OpenSans-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/static/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style:italic;
  src: url("../fonts/static/OpenSans/OpenSans-BoldItalic.ttf") format("truetype");
}

@tailwind components;

@tailwind utilities;

body{font-size: 16px; font-weight: 400; @apply bg-gray-100 font-body}
a{ @apply text-gray-900 font-semibold;}
hr {border-width:0;}

th{
  @apply bg-gray-100 text-gray-300 font-bold py-2  text-left;
}
.show-for-large-flex {
  display:none;
}
/* Meeting 3 - value 505 */
.banner-home {
  background: 
  linear-gradient(
    rgba(0, 44, 88, .65),
    rgba(0, 44, 88, .65)
  ),
  url('../img/banner.jpg');
  background-position: 1% 1%;
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 630px;
}
.banner-box {
  position: relative;
  top: 200px;
  opacity: 0.93;
  width: 100%;
  padding: 2.5rem;
  z-index: 3;
}
.banner-text{
  max-width: 330px;
  width: 100%;
  padding: 1.5rem;
}
.banner-text p {
  font-size: 18px;
  line-height: 25px;
  @apply font-display font-semibold;
}
.banner-text .fa-angle-right:before{
  position: relative;
  top: .045em;
  padding-left: .5em;
  font-size: 18px;
}
.banner-video-wrapper iframe, .banner-video-wrapper video {
  display: none;
}
.mark, .markTwo {
  background-image: url('../img/rapidfire-mark.png');
  background-position: 90% 100%;
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 185px;
  @apply bg-gray-100;
}
.mark ul li {
  margin-right: .5rem;
  margin-bottom: .975rem;
}
.required {
  @apply text-red-500;
}
.detail-banner {
  background: linear-gradient(
    rgba(0, 44, 88, .65),
    rgba(0, 44, 88, .65)
    ),
    url('../img/detail-banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 190px;
}
.location-banner {
  background: linear-gradient(
    rgba(0, 44, 88, .65),
    rgba(0, 44, 88, .65)
    ),
    url('../img/location-banner.jpg');12
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 190px;
}
.slidergallery {
 display:flex;
 align-items:center;
 justify-content:center

}
.slidergallery .slider {
  display: block;
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 10px;
    background-color: #F6F6F6;
    overflow: hidden;
}
.slidergallery .slider__slides {
  width: 100%;
  padding-top: 72%;
}
.slidergallery figure{
  display: flex;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    transition: 1s;
    opacity: 0;


}
.slidergallery figure.active {
  opacity: 1;
}
.tabgallery figure figcaption {
  height:70px;
  @apply text-gray-700 italic;
}

.slidergallery a.prev, .slidergallery a.next{
  position:absolute;
  z-index:10;
  font-size: 20px;
  background-color:#fff;  
  padding:0 .5rem  ;
 
}
.slidergallery a.prev {
  top: 42%;
    left: 0;
    transform: translateY(-50%);
}
.slidergallery a.next{
  top: 42%;
  right: 0;
  transform: translateY(-50%);
}
.gallery {
  margin: 2rem auto 0;
}
.gallery img {
  max-width: 220px;
}
.news img {
  max-width: 759px;
  width: 100%;
}
.news-image {
  height: 200px;
  width: 400px;
}
.fa.fa-angle-down {
  font-size: 18px;
}
.container-gallery {
  max-width: 1028px;
}
.text-small /* body small */{
	font-size:14px;
  letter-spacing: .1pt;
	line-height:18px;
	@apply font-body font-normal;
}
.text-normal /* body */{
	font-size:16px;
  letter-spacing: .1pt;
	line-height:24px;
  font-weight: 400;
	@apply font-body;
}
.text-medium{
	font-size:16px;
	line-height:24px;
	@apply font-body;
}
.text-large{
	font-size:18px;
	line-height:32px;
	@apply font-body;
}
.arrow-links {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .6pt;
  font-weight: 600;
  @apply font-display uppercase;
}
.phone-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .5pt;
  font-weight: 600;
  @apply font-body mb-4;
}
.heading-xxs{
	font-size:18px;
	line-height:20px;
  letter-spacing: .6pt;
	font-weight:500;
	@apply font-display;
}
.heading-xs{
	font-size:21px;
	line-height:32px;
	font-weight:600;
	@apply font-display;
}
.heading-s {
	font-size:24px;
	line-height:26px;
  letter-spacing: .1pt;
	font-weight:600;
	@apply font-display;
}
.heading2{
	font-size:24px;
	line-height:26px;
  letter-spacing: .1pt;
	font-weight:600;
	@apply font-display;
}
.heading{
	font-size:28px;
	line-height:48px;
	font-weight:600;
	@apply font-display;
}
.page-heading{
	font-size:32px;
	line-height:32px;
  letter-spacing:.24pt;
	font-weight:600;
	@apply font-display;
}
.section-heading{
	font-size:32px;
	line-height:32px;
  letter-spacing: .20pt;
	font-weight:600;
	@apply font-display;
}
.cta-heading{
	font-size:40px;
	line-height:46px;
  letter-spacing: .24pt;
	font-weight:600;
	@apply font-display;
}
.heading-xl{
	font-size:40px;
	line-height:46px;
  letter-spacing: .24pt;
	font-weight:600;
	@apply font-display;
}
.heading-xxl{
	font-size:48px;
	line-height:72px;
	font-weight:600;
	@apply font-display;
}
.heading-d{
	font-size:60px;
	line-height:80px;
	font-weight:600;
	@apply font-display;
}
.heading-dxl{
	font-size:72px;
	line-height:96px;
	font-weight:400;
	@apply font-display;
}
.border-1{
  border-width: 1px;
}
.border-b-1{
  border-bottom-width: 1px;
}
.border-l-1{
  border-left-width: 1px;
}
.border-t-1{
  border-top-width: 1px;
}
.border-r-1{
  border-right-width: 1px;
}
button{
  border-width: 1px;
  @apply font-display font-semibold py-2 px-4 bg-blue-500 text-white;
}
button:hover{
	@apply bg-white text-blue-500 border-blue-500 border-solid ;
}
button.btn-lg{
	@apply py-4 px-10 text-large;
}
.totop {
  position: fixed;
  bottom: 60px;
  right: 15%;
  z-index: 100;
}
.totop .fa-chevron-up {
  font-size: 20px;
  margin-left: -3px;
}
.btn-totop {
  background-color: #fff;
  transition: background-color .25s ease-out,color .25s ease-out;
  width: 58px;
  height: 58px;
  padding: 16px 0 10px 3px;
  border-radius: 50%;
  color: #2d2d2d;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 16%);
  line-height: 1;
  border: 1px solid transparent;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
}
.btn-cta{
  border-width: 1px;
  letter-spacing: .4pt;
  text-align: center;
	@apply font-display font-semibold py-4 px-6 bg-blue-500 text-white border-white;
}
.btn-cta:hover{
	@apply bg-white text-blue-500 border-blue-500;
}
.btn-cta.btn-lg{
	@apply py-4 px-10 text-large;
}
a.btn-cta {
  @apply block;
}
/* Meeting 6  */
.btn-svc{
  font-size: 18px;
  line-height: 36px;
  letter-spacing: .1pt;
  border-width: 1px;
  @apply font-display font-semibold py-2 px-4 bg-white text-green-500 border-green-500 mb-2; 
}
.btn-svc:hover{
  @apply bg-green-500 text-white;
}
.svc-cta-box {
  @apply bg-blue-500 py-4 px-6 mb-8;
}
.svc-cta-box .btn-cta {
  margin: 0;
}
.job-btn {
  background-color: white;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow:0px 2px 6px -1px #bbb;
}
.job-btn:hover {
  box-shadow: 0 0.125rem 2rem 0 rgba(0, 0, 0, 0.15);
}
.job-btn p {
  margin: 0;
}
.job-container a {
  margin-bottom: 1rem;
}
/* Meeting 8 */
.blu {
  font-size:16px;
  line-height:32px;
}
.breadcrumb{
  font-size:12px;
  letter-spacing: .35pt;
  line-height: 15px;
  border: none;
  @apply font-normal p-2 font-display bg-green-500 text-white uppercase;
}
.breadcrumb .active{
  @apply font-bold;
}
.breadcrumb a {
  color: white;
}
.menu-title {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: .4pt;
  @apply font-display uppercase font-medium bg-white text-gray-900;
}
.menu-title:hover {
  @apply text-blue-500 border-none;
}
.menu-text {
  font-size:15px;
  @apply text-gray-900;
}
.menu-text:hover {
  @apply bg-green-500 text-white;
}
.card-title{
  font-size: 18px;
  line-height: 20px;
  letter-spacing: .4pt;
  min-height: 60px;
  height: 40%;
  @apply font-display font-semibold uppercase bg-white;
}
.card-title p{
  margin:0;
}
.card-title:hover{
  @apply bg-green-500 text-white;
}
.card-title p:hover {
  color: white;
}
.card a {
  display: block;
}
a.arrow-links:hover {
  @apply text-blue-500;
}
.error-msg{
	@apply text-red-500 text-xs italic
}
label{
	@apply font-medium;
}
input[type='text'], textarea {
	@apply bg-white appearance-none w-full pt-4 pb-2 mb-3 px-4 text-gray-700 leading-tight;
}
input[type='text']:focus, textarea:focus{
	@apply outline-none shadow-outline;
}
input[type='checkbox']{
	@apply text-blue-800 bg-red-800 my-3;
}
input[type='checkbox']:first-of-type {
  margin-top: 1rem;
}
input[type='checkbox']:last-of-type {
  margin-bottom: 1.5rem;
}
input.error {
	@apply shadow appearance-none border border-red-500 bg-red-100 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight;
}
select{
	@apply block appearance-none w-full border border-gray-200 text-gray-700 mb-3 py-3 px-4 pr-8 rounded leading-tight;
}
select:focus{
 @apply   outline-none shadow-outline bg-white border-green-700;
}
select.error {
	@apply shadow appearance-none border border-red-500 bg-red-100 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight;
}
.angle-down {
  bottom: 12px;
  right: 20px;
  @apply text-blue-500;
}
.angle-down .fa-angle-down {
  font-size: 20px;
}
::selection {
  background: #F7C5A4; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F7C5A4; /* Gecko Browsers */
}
figcaption {
	@apply text-small italic text-gray-900 p-2;
}
p.short{max-width:39px; min-width:35px;}
p.compliant{max-width:50px; min-width:40px;}
p.optimal{max-width:90px; min-width:51px;}
p.toobig{ min-width:91px;}
.read {@apply ml-auto mr-auto;}
.read p {
 @apply  max-w-3xl my-4 text-medium;
}
.read h1 {@apply heading-xl}
.read h2 {@apply page-heading my-8;}
.read h3{@apply heading2 my-2;}
.read h4 {@apply heading-xs my-2;}
.read h5 {@apply heading-xxs my-2;}
.read figure { @apply ml-auto mr-auto my-2;}
.read ul {
   @apply  max-w-xl m-4 text-base leading-none list-disc;
   max-width:620px;
}
.read blockquote p{
  @apply font-body italic;
  font-size: 16px;
  line-height: 28px;
  max-width:none;
  margin-top: 0;
}
.read blockquote footer p {
  @apply not-italic;
}
header  nav a{ /* #  differentiate from sitewide nav if needed */
	@apply border-0 ;
}
header nav .vertical-menu a {
	@apply text-large py-2 my-2;
}
/* Meeting 1 */
.menu-toggle {
  display: inline-block;
  cursor: pointer;
  float:right;
  @apply border rounded px-2 py-1; 
}
/* Meeting 2 */
img.logo {width:85%; max-width:250px;}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  margin: 7px 0;
  transition: 0.4s;
  @apply bg-gray-900 ;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-9px, -7px);
}
header  nav button{
	background-color:transparent;
	white-space: nowrap;

}
header  nav button:focus{
	outline:none;	
}
header .dropdown-box {
	min-width:170px !important; /* arbitrary size. adjust if necessary */
	min-height:80px;
	position:absolute;
	top:0px;
	left:0px;
}
header nav .utility {
	@apply border-l-8  pl-6 ml-2;
}
header  nav a.highlight{
	@apply bg-red-800 text-gray-100 flex  font-semibold text-large mb-4 mt-2 font-semibold  pl-1;
}
header nav .menu-right a{
	@apply font-light text-large text-gray-600;
	
	}
header nav .subnav li:first-of-type {
  border-top-width: 1px;
  border-top-color: rgba(208, 208, 208, var(--border-top-opacity));
  --border-top-opacity: 0.3;
}
header nav .subnav li:last-of-type {
  border:0;
}
header nav .subnav.right a.highlight{	
	@apply font-semibold text-large;
	}
header nav .subnav.right	.rightside-categories a {
	@apply font-semibold text-large;
}
header nav .vertical-menu .subnav.right	.rightside-categories a {
	@apply font-semibold text-large;
}
header nav .header {
	@apply mb-4;
}
header nav .dropdown-box {
    top:0px;
}
p{
	margin-top: .3em ;
	margin-bottom: .7em ;
}

nav a{ @apply text-white font-semibold border-b-2 border-blue-900;}
a.active{
@apply border-b-2 border-blue-900;
}
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
.text-shadow-md {
	text-shadow:2px 3px 4px #373533;
}
/* I opted to choose this method because for some reason, fa-phone-flip was not displaying anything */
.phone{
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}
.phone, .fa-envelope {
  font-size: 20px;
  position: relative;
  top: 4px;
  margin-right: .5rem;
}
.phone:before{
  content:"\f879";
}
.social .fa, .social .fab {
  font-size: 40px;
  margin-right: 1.0rem;
  margin-top: 1.0rem;
}
.social .fa-linkedin-in {
  position: relative;
  top: 5px;
}
.states i.fa-angle-right {
  margin-left: .65rem;
  font-size: 18px;
}
.blue-boxes {
  @apply font-display;
}
.blue-boxes p {
  margin: .05rem 0;
}
.careers p {
  padding: 0;
  margin: 0;
}
.careers i.fa-angle-right {
  margin-left: .35rem;
  font-size: 18px;
}
.card {
  max-width:407px;
	@apply overflow-hidden mr-auto ml-auto mb-8;
}
.card img {
	@apply w-full;
}
.card h3, .card h4 {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: .4pt;
	@apply text-gray-900 font-display font-semibold uppercase;
}
.card h5 {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: .1pt;
  @apply text-green-500 font-body font-semibold;
}
a .card p{
	@apply text-gray-900;
}
.industry p {
  @apply text-small my-4;
}
.card.dark{
	@apply text-white bg-gray-800;
}
a .card.dark p{
	@apply text-white;
}
a .card.dark h3, a .card.dark h4 {
	@apply text-orange-500;
}
blockquote {
	@apply text-2xl text-gray-900 mb-6 ;
}
blockquote footer{
	@apply text-small text-black  mt-4 mb-2;
}
blockquote footer a {
 @apply not-italic;	
}
.quote, p.quote {
  font-style: normal;
  @apply font-display font-semibold;
}
footer p {
  margin: 0;
}
footer a {
  @apply text-white;
}
footer li {
  @apply mb-4;
}
footer li a {
  font-weight: 400;
}
.copyright {
  @apply font-body text-white;
}
.copyright a{
  font-weight: 400;
  text-decoration: underline;
}
.figPeople {
  max-width: 500px;
}
.figPeople img {
  @apply mb-4;
}
/* Timeline specific CSS */ 
.timeline-title {
  font-family: "Proxima Nova", "proxima-nova", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.1pt;
  line-height: 26px;
}
.image {
  max-height: 300px;
  height: 100%;
  max-width: 440px;
  width: 100%;
}
.image2 {
  height:100%;
  max-height: 274px;
  width: 100%;
}
/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.4pt;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
  color: #0d559c;
  @apply font-display;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #0d559c;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 2px;
  background: #999;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #0d559c;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p {
  width: 87%;
  line-height: 24px;
  font-size: 16px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}

/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker,
.timeline-split .timeline-content,
.timeline-centered .timeline-content,
.timeline-split .period .timeline-info,
.timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
.timeline-centered .timeline-item,
.timeline-centered .timeline-marker,
.timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content img {
    margin-left: 40px;
  }
  .timeline-centered > .timeline-item:nth-child(2n) .timeline-content p {
    margin-left: 13%;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-title, .timeline-centered .period .timeline-info {
    left: auto;
  }
}


/* custom media queries - uncomment & add to as needed */
@media (max-width:375px) {
  .mark {
    background-image: none;
  }
}
@media (max-width:428px) {
  .cta-heading{
    font-size:36px;
    line-height:40px;
  }
  .heading-s {
    font-size: 22px;
  }
}
@media (max-width:1024px) {
  .mark {
    background-position: 98% 97%;
  }
  .markTwo {
    background: none;
  }
}
@media (max-width:1279px) {
  .svc-cta-box {
    width:100%;
  }
}

@media (min-width:640px) {
  .sm\:page-heading{
    font-size:32px;
    line-height:32px;
    letter-spacing:.24pt;
    font-weight:600;
    @apply font-display;
  }
}

@media (min-width:768px) {
  /* .md\:thing {} */
  .card {
    @apply mb-0;
  }
  .mark {
    background-position: 90% 85%;
  }
  .job-btn {
    min-width: 432px;
  }
  .md\:border-r-1{
    border-right-width: 1px;
  }
  .md\:border-b-1{
    border-bottom-width: 1px;
  }
  footer .states li:last-of-type {
    @apply col-start-2;
  }
} 
@media (min-width:1024px) {
  .btn-cta{
    max-width: 286px;
    @apply my-4;
  }
  .blu {
    @apply heading-xxs;
  }
  .arrow-links {
    font-size: 16px;
  }
  .card-title {
    min-height:auto;
  }
  header nav ul.subnav {
    margin-top:11px;
  }
  .job-container a:first-of-type {
    margin-right: 50px;
  }
  #locMap .states li:nth-of-type(2), .states li:nth-of-type(5) {
    @apply justify-self-center;
  }
  locMap .states li:nth-of-type(3), .states li:nth-of-type(6) {
    @apply justify-self-end;
  }
  footer .states li:nth-of-type(2), footer .states li:nth-of-type(4), footer .states li:nth-of-type(5) {
    @apply justify-self-end;
  }

}
/* because tablets */
@media (min-width:1025px) {
  img.logo {width:100%;}
  .container-main {
    max-width: 1290px;
  }
  .show-for-large-flex {
    display: flex;
  }
  .mark, .markTwo {
    background-position: 40px 40px;
  }
  .cta-image {
    background-image: url('../img/cta-image.png');
    background-position: 109% -125px;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 434px;
  }
  /* Value: 630px */
  .banner-home {
    background: none;
    /* min-height:auto; <--- must re-add value at this breakpoint */
  }
  .banner-video-wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
  }
  .banner-video-overlay {
    background-color:rgba(0, 44, 88, .65);
    z-index: 1;
    width: 100vw;
    height: 630px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .banner-video-wrapper iframe, .banner-video-wrapper video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    transform: translate(-50%, -50%);
  }
  .banner-box {
    max-width: 718px;
    padding: 2.5rem 2.5rem 2.5rem 0;
  }
  .banner-text {
    padding-right: 3rem;
  }
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  max-width: 1029px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 
@media (min-width:1280px) {
  .xl\:thing{}
} */
/*
@media (min-width:1536px) {
  .xxl\:thing{}
} */
/*
@media (min-width:1824px) {
  .xxxl\:thing{}
}
*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .totop {
      bottom: 2%;
      right: 6%;
    }

}